[Unit]
Description=Android Debug Bridge (ADB) daemon
Documentation=file:/usr/share/doc/adbd/README.adbd
Wants=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
Type=notify
ExecStartPre=/usr/lib/android-sdk/platform-tools/adbd-usb-gadget setup
ExecStart=/usr/local/lib/adbd/adbd-wrapper
ExecStartPost=/usr/lib/android-sdk/platform-tools/adbd-usb-gadget activate
ExecStopPost=/usr/lib/android-sdk/platform-tools/adbd-usb-gadget reset

[Install]
WantedBy=multi-user.target